.navbar{
  background: hsl(227, 10%, 10%);
  color: white;
}
.navbar main, .navbar main h1, .panel, .panel nav, .panel nav ul, .panel nav ul li{
  display: inline;
}
.login{
  margin: .1vw .2vw !important;
}
#title{
  font-size: 4vw;
}
