@import "vars";


.navbar{
  background: linear-gradient(#31b1d1, #31a1ff);;
  color: white;
  height: 20vw;

  div.lion{
    width: 30%;
    float: left;
    font-size: 5vw;
    padding: $gutter-lg;
    background-image: url("./lion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    z-index: 100;
    background-color: (0,0,0,.5)
  }

  h1{
    opacity: 1;
  }

  a {
    color: $color-white;
    font-size: 3vw;
  }

  .logout{
    float: right;
    margin-right: 5vw;
    font-size: 2.5vw;
    margin-top: 7vw;
  }

  ul {
    float: left;
    margin-left: 7.5%;
    margin-top: 8vw;

    li a {
      margin-left: $gutter-lg;
      font-size: 3.5vw;
    }
  }


  .auth-form {
    float: right;
    width: 60%;
    margin-top: 7vw;

    input {
      width: 35%;
      height: $gutter-sm;
      font-size: 2.5vw;
    }

    button{
      margin-left: $gutter-sm;
      height: 6vw;
      width: 15vw;
      font-size: 2.5vw;
      padding: 1.25% 3.33333%
    }
  }

}
.navbar main, .navbar main h1, .panel, .panel nav, .panel nav ul, .panel nav ul li{
  display: inline;
}
.login{
  margin: .1vw .2vw !important;
}
